<div class="profile-wrapper">
    <div class="container">
      <div class="suport-wrapper  d-flex justify-content-evenly align-items-center flex-column text-center" id="invite">
        <div class="sup-header">
            <p>Do'stinggizni Taklif qiling</p>
        </div>
        <div class="sup-body d-flex flex-column justify-content-evenly">
            <a class="p-1" href="#">instagram</a>
            <a class="p-1" href="#">telegram</a>
            <a class="p-1" href="#">youtube</a>
            <a class="p-1" href="#">twitter</a>
        </div>
      </div>
    </div>
  </div>
  
  