<div class="profile-wrapper">
    <div class="container">
      <div class="content-wrapper">
        <div class="main" id="main">
          <div class="main-contnent">
            <div class="user">
              <div class="user-header">
                <img class="user-img" src="assets/hamburger.png" alt="sdsdsd">
                <!-- <p>Sahifaga Hush Kelibsiz {{userName}}</p> -->
              </div>
              <div class="user-body">
                <div class="user-info">
                  <p class="user-number">Telefon -9989999999</p>
                  <!-- <p class="reg-data"> ruyhatdan utgan vaqt {{userData}}</p> -->
                  <p class="user-email">email</p>
                  <!-- <p class="reg-password"> parol {{userData}}</p> -->
                </div>
              </div>
              <div class="user-footer">
                Profileni Uzgartirish
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  