<div class="profile-wrapper">
    <div class="container">
      <div class="suport-wrapper support d-flex justify-content-evenly align-items-center flex-column text-center" >
        <div class="sup-header">
            <img src="assets/hamburger.png" alt="supportImg" class="sup-img">
            <p>Biz bilan bog'lanish</p>
        </div>
        <div class="sup-body d-flex flex-column justify-content-evenly">
            <a class="p-1" href="#">instagram</a>
            <a class="p-1" href="#">telegram</a>
            <a class="p-1" href="#">youtube</a>
            <a class="p-1" href="#">twitter</a>
        </div>
        <div class="sup-footer">
            <p class="text-end">Sizga hizmat kursatishdan minnatdormiz!</p>
        </div>
      </div>
    </div>
  </div>
  
  