<div class="profile-wrapper">
    <div class="container">
      <div class="content-wrapper">
        <div class="side-nav" id="side-nav">
          <div class="links">
            <a (click)="isShowHelp()" routerLink="history">Buyurtmalar Tarixi</a>
            <a (click)="isShowHelp()" routerLink="history">Prfoile</a>
            <a (click)="isShowHelp()" routerLink="history">Menu</a>
            <a (click)="isShowHelp()" routerLink="history">Promokodlar</a>
            <a (click)="isShowHelp()" routerLink="history">Dustingizni taklif qil</a>
            <a (click)="showSupportComponent()" routerLink="history">Yordam</a>
            <a (click)="logOut()">LogOut</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  