<div class="content-wrapper">
  <div class="container">
    <div class="components">
      <app-lists class="app-lists"></app-lists>
      <app-user *ngIf="!isHelp" class="app-user"></app-user>
      <app-menu  class="app-menu"></app-menu>


       <app-promo class="app-promo"></app-promo>
       <app-invite class="app-invite"></app-invite>
       <app-support *ngIf="isHelp" class="app-support" [ngClass]=support></app-support>
       <app-history class="app-history"></app-history>
    </div>
  </div>
</div>
