<div class="wrapper">
   <div class="container">
      <div class="main-itmes pt-5">
         <div class="info">
            <h5 class="p-5 text" id="textTest" animate > Bizni Tanlaganingizdan Benihoyat Ma'mnunmiz</h5>
         </div>
         <div class="img-right" >
            <img id="hamburger" class="img" appAnimate  src="assets/hamburger.png" alt="">
         </div>
      </div>
      <div class="login-wrapper">
         <div class="login-container">
            <div class="login-header">
               <h4 class="text-center">Ruyhatdan O'tish</h4>
            </div>
         </div>
         <div class="login-body">

         </div>
      </div>
   </div>
</div>

