

<mat-tab-group  >
    <mat-tab label="First"> 
     <div class="container test">
        <ng-container *ngFor="let fastFood of fastFoods" class="ngContainer">
          <app-card [card]="fastFood"></app-card> 
        </ng-container>
     </div>
    </mat-tab>
    <mat-tab label="Second"> 
     <div class="container">
        <ng-container *ngFor="let burgerSet of setBurgers">
          <app-card [card]="burgerSet"></app-card> 
        </ng-container>
     </div>
    </mat-tab>
    <mat-tab label="Third"> 
        <ng-container *ngFor="let ichimlik of ichimliklar">
          <app-card [card]="ichimlik"></app-card> 
        </ng-container>
    </mat-tab>
  </mat-tab-group>
 
  